<div *ngIf="loader.status==true" class="loader-box d-flex justify-content-center align-items-center" >
  <div class="">
    <div class="{{loaderType}} spinner-border m-4 mx-auto d-block" role="status" *ngFor="let load of loaderSize">
      <span class="sr-only">Loading...</span>
    </div>

    <p class="loader-content">{{loader.content}}</p>
  </div>

</div>
