.loader-box{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  // background: rgba(95, 76, 76, 0.2);
  background: rgba(255,255,255,0.6);
  z-index: 1100;

  .loader-icon{
      color: black !important;
      font-size: 35px;
      margin-left: 45% !important;
      margin-bottom: 10px !important;
      -webkit-animation: spinner-border 1s linear infinite;
      animation: spinner-border 1s linear infinite;
  }
  .loader-content{
      margin-left: 15px;
      color: black;
      font-size: 16px;
      padding-top: 10px;
      text-align: center;
  }
}
