
<footer class=" footer-main-box">
  <nav class="navbar navbar-light p-0 ">
    <div class="container">
      <p class="footer-main-box-text float-end p-0 m-0">
        Barbara Nowak ©2022
      </p>

    </div>
  </nav>
</footer>

