.footer-main-box{
  background:#373737;
  color: white !important;
  // min-height: 100px;
  padding: 20px;
  height: 50px;

  &-text{
    color: white;
    font-size: 13px;
    text-align: right;
    width: 100%;
  }
}

