@import "../../../scss/variables.scss";
@import "../../../scss/animations.scss";

.main-box{
  padding: 30px 0px;

  .title{
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
  }

  &-searcher{
    border: 1px solid grey;
    padding: 20px;
    min-height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem
  }

  &-list{

    &-item{
      float: left;
      cursor: pointer;



      .card-box{
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        height: 100%;

        &:hover{
          border-color:$color_yellow_1_hover;

          .img-box{
            animation-name: changeColor;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            border-radius: 0px;
          }

          @keyframes changeColor {
            from {filter: grayscale(100%);}
            to {filter: grayscale(0%);}
          }

        }

        .img-box{
          height: 150px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.125);
          border-radius: 0.25rem;
          background-color: white;
          filter: grayscale(100%);
        }

        .card{
          border:none;

          &:hover{
            background-color: #333;
            color: white;

            .card-price{
              color:black;
              font-weight: 600;
            }
          }

          &-body{

            .card-title{
              font-weight: 600;
              line-height: 20px;
            }
            .card-text{
              font-size: 14px;
              text-align: left;
            }
            .card-price{
              background: $color_yellow_1;
              margin-bottom: 0;
            }
          }
        }
      }

    }
  }


}


@media screen and (max-width: 767px){

  .main-box{
    &-searcher{
      &-flex{
        display: block !important;

        &-item{
          &:first-child{
            margin-bottom: 15px;
          }

        }
      }
    }
  }
}
