<div class="main-box p-4">
  <div class="container p-0">

    <p class="col-12 title mb-4">
      Lista kursów online
    </p>

    <div class="col-12 main-box-searcher mb-4">
      <form [formGroup]="form" class="col-12">

        <div class="col-12 d-flex main-box-searcher-flex">
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 flex-fill me-3 main-box-searcher-flex-item">
            <select class="form-select w-100" [formControlName]="'id_category'" (change)="refreshList()">
              <option [value]="'0'">Wszystkie kategorie</option>
              <option [value]="c.id" *ngFor="let c of coursesCategories">
                  {{c.label}}
              </option>
            </select>
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 flex-fill main-box-searcher-flex-item">
            <input type="text" class="form-control col-12 col-xs-12 col-sm-6 col-md-6"
            [formControlName]="'search_word'"
            (keyup)="refreshList()"
            placeholder="Wyszukaj kurs po nazwie..."
            >
          </div>
        </div>


      </form>
    </div>

    <div class="col-12 main-box-list d-flex align-content-stretch flex-wrap" *ngIf="paginationItems.length>0" >


      <!--Pagination box-->
          <div class="card text-center col-12">
            <div class="card-body p-0">

              <table class="w-100 col-12">

                    <tbody class="d-flex align-content-stretch flex-wrap">

                      <div class="col main-box-list-item col-12 col-xs-12 col-sm-6 col-md-3 mb-1 p-2"
                      *ngFor="let course of pageOfItems"
                      [routerLink]="['/course-details', course.id]"
                      (click)="selectCourse(course)"
                      >
                        <div class="col-12  card-box" >
                          <div class="card h-100">

                            <div class="col-12 img-box" [ngStyle]="{'background-image':'url(assets/img/courses/'+course.img+')'}"></div>

                            <div class="card-body d-flex align-items-end flex-column">
                              <h5 class="card-title col-12">{{course.label}}</h5>
                              <p class="card-text col-12">{{course.short_desc}}</p>
                              <p class="card-price mt-auto col-12">{{course.price}} {{course.price_unit}}</p>
                            </div>

                          </div>
                        </div>

                      </div>

                    </tbody>
              </table>

            </div>
            <div class="card-footer pb-0 pt-3">
                <jw-pagination-custom
                [items]="paginationItems"
                (changePage)="onChangePage($event)"
                [pageSize]="paginationConfig.pageSize"
                [initialPage]="paginationConfig.initialPage"
                ></jw-pagination-custom>
            </div>
          </div>
<!--end Pagination box-->





    </div>
    <div class="col-12 main-box-list d-flex align-content-stretch flex-wrap" *ngIf="paginationItems.length==0" >
      <div class="card text-center col-12 p-4">
        Brak kursów spełniających kryteria wyszukiwania
      </div>

    </div>

  </div>

</div>
