
<div class="banner-main-box" role="banner">
  <!-- <div class="nav-box"></div> -->

  <div class="col-12 d-flex align-content-stretch h-100 flex-wrap banner-main-box-content">

    <div class="col-12 col-xs-12 col-sm-4 col-md-6 col-lg-6 bg-1 h-100 banner-main-box-content-left"
    [ngStyle]="{'background-image':'url(assets/img/bg1.jpg)'}"
    >
    </div>

    <div class="col-12 col-xs-12 col-sm-8 col-md-6 col-lg-6 bg-2 h-100 banner-main-box-content-right">
      <div class="banner-main-box-content-right-info">
        <p class="banner-main-box-content-right-info-label mb-3">
          Poszerz swoje umiejętności
        </p>
        <p class="banner-main-box-content-right-info-text text1">
          Skorzystaj z kursów online
        </p>
        <p class="banner-main-box-content-right-info-text text2">
          Wybierz kurs odpowiedni dla Ciebie
        </p>
        <p class="banner-main-box-content-right-info-text fw-bold ">
          Wymagania?
          <br>
          <span class="fw-normal fst-italic">Jedynie chęć do nauki :)</span>
        </p>

        <button type="button" routerLink="/courses" routerLinkActive="active" class="col-12  col-xs-12 col-sm-6 btn-color-1 p-15px mt-4">
          LISTA KURSÓW
        </button>

      </div>
    </div>

  </div>




</div>
