.banner-main-box{

  min-height: 150px;
  // border:1px solid #d2d8e3;
  box-sizing: border-box;
  overflow: auto;
  height: 100%;


  .nav-box{
    height: 90px;
    width: 100%;
  }

  .bg-1{
    // padding:30px;
    padding-bottom: 0px;
    background: #d2d8e3;
  }

  .bg-2{
    background: white;
    padding:30px;

  }

  &-content{
    &-left{
      float: left;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &-right{
      float: right;

      padding: 20px;

      &-info{

        padding: 20px;
        color: black;

        &-label{
          font-size: 25px;
          font-weight: 600;
          text-transform: uppercase;

        }

        &-text{

          &.text1{
            font-size: 20px;
            text-transform: uppercase;
          }
        }
      }
    }
  }


}

@media screen and (max-width: 576px){

  .banner-main-box-content{
    display: block !important;
    overflow: auto;

    &-left{
      height: 200px !important;
      background-position: left !important;
    }
    &-right{
      overflow: auto;
      height: auto !important;
      padding: 20px !important;
    }
    &-right, &-left{

      display: block;
      width: 100%;

    }
  }

}
