
<div class="main-box p-4" *ngIf="selectedCourse!=null" >
  <div class="container p-0">



    <div class="col-12 d-flex align-content-stretch flex-wrap">
      <div class="col-12 col-sm-12 col-md-5 box-left">
        <div class="box-left-img" [ngStyle]="{'background-image':'url(assets/img/courses/'+selectedCourse.img+')'}"></div>
      </div>

      <div class="col-12 col-sm-12 col-md-7 box-right">

        <p class="col-12 category-name">
            Kategoria: <span>{{getCategoryName()}}</span>
        </p>

        <p class="col-12 title mb-4">
          Kurs - {{selectedCourse.label}}
        </p>

        <p class="col-12 description">
          {{selectedCourse.desc}}
        </p>

        <p class="col-12 col-xs-12 col-sm-6 col-md-4 price">
          {{selectedCourse.price}} {{selectedCourse.price_unit}}
        </p>


      </div>

    </div>

    <hr>

    <div class="col-12 mt-4">
      <app-register-form></app-register-form>
    </div>

  </div>

</div>

<div class="main-box p-4" *ngIf="selectedCourse==null" >
  Dane wybranego kursu nie zostały wczytane. Proszę odświeżyć stronę.
</div>
