.main-box{

  .title{
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;

  }

  .box{
    float: left;

    &-left{
      &-img {
        content: "";
        display: block;
        padding-bottom: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        margin-bottom: 15px;
      }
    }
    &-right{
      padding: 30px;
      padding-top: 0;

      .description{
        text-align: justify;
      }

      .price{
        background: lightgray;
        padding: 15px;
        text-align: right;
        float: right;
        font-size: 20px;
      }
    }
  }
}


@media screen and (max-width: 767px){

}
