ul{
    li{
        cursor: pointer;
        a{
            color: #006756;

            
        }

        &.active{
            .page-link{
                background-color: #006756;
                border-color:#006756;
                color:white;
            }
        }
    }
}