.main-box{
  padding-top: 90px;
  position:relative;
  height: 100vh;
}

header{
  height: 53px;
}

main{
  height: calc(100vh - 103px); //55+50
  overflow: auto;
}
.content{
  // min-height: calc( 100vh - 100px) !important;
}

.footer{
  height:50px;
  // position:absolute;
  // bottom:0;
}


