<app-loader></app-loader>

<div class="container-fluid p-0 main-box min-vh-100">

    <header>
        <app-navigation class="col-12 navigation"></app-navigation>
    </header>

    <main class="w-100 content">
      <router-outlet></router-outlet>
    </main>

    <app-footer class="col-12 footer"></app-footer>

</div>

