.main-box{

  .information-box{
    padding: 20px;
    min-height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-top: 20px;

    img{
      margin-bottom: 30px;
    }

    button{
      display: block;
    }
  }
}
