<div class="col-12 main-box" *ngIf="storage">
    <ng-container *ngIf="storage.selectedCourse && storage.registerFormData">
      <div class="container">
        <div class="information-box col-12 text-center col-xs-12 col-sm-6 offset-sm-3">
            <img src="assets/img/img7.png" class="w-100 mb-4">
            Dziękujemy <span class="fw-bold">{{storage.registerFormData.name}} {{storage.registerFormData.surrname != '' ? storage.registerFormData.surrname : ''}}</span> .
            <br><br>Zgłoszenie na kurs "<span class="fw-bold">{{storage.selectedCourse.label}}</span>" zostało wysłane. <br>
            <br>Preferowana data kursu:<br> <span class="fw-bold">{{storage.registerFormData.date}}</span>.

            <div class="col-12 mt-4">
              <button type="button" class="btn-color-1 p-15px col-12 col-xs-12 col-sm-10 offset-sm-1 offset-md-3 col-md-6" routerLink="/courses" routerLinkActive="active">Wróć do listy kursów</button>
            </div>

        </div>
      </div>
    </ng-container>

</div>
