<div class="col-12 main-box">

  <form [formGroup]="form" class="col-12">

    <!-- KROK 1 -->
    <div class="col-12 col-sm-12 col-md-6 form-register-step-box me-3"
    [ngClass]="{'flex-fill':formSteps[0].status}"
    >
      <p class="col-12 form-title mb-2" (click)="backToStep(1)">REJESTRACJA NA KURS - KROK 1</p>

      <div class="col-12 form-box"
      [ngClass]="{'show':activeFormStepIndex==0, 'hide':activeFormStepIndex!=0}"
      >
        <div class="mb-3">
          <label for="name" class="form-label">* Imię</label>
          <input type="text" class="form-control" [formControlName]="'name'">
          <span class="text-danger"
           *ngIf="checkValidationForm(1,'name','required')">
              Imię jest wymagane
          </span>
        </div>

        <div class="mb-3">
          <label for="name" class="form-label">Nazwisko</label>
          <input type="text" class="form-control" [formControlName]="'surrname'">
        </div>

        <div class="mb-3">
          <label for="name" class="form-label">* E-mail</label>
          <input type="email" class="form-control" [formControlName]="'email'">

          <span class="text-danger" *ngIf="checkValidationForm(1,'email','required')">
              Adres e-mail jest wymagany
          </span>

          <span class="text-danger" *ngIf="checkValidationForm(1,'email','email')">
             Niepoprawny format adresu e-mail
          </span>
        </div>

        <span class="required-fields col-12 mt-3">
          * Wymagane pola
        </span>

        <div class="col-12">
          <button type="submit" class="clearfix btn-color-1 p-15px col-12 col-sm-12 col-md-6 offset-md-6 " (click)="onSubmit(1)">Dalej</button>
        </div>

      </div>


    </div>


    <!-- KROK 2 -->
    <div class="col-12 col-sm-12 col-md-6 form-register-step-box"
      [ngClass]="{'show':activeFormStepIndex==1,  'hide':activeFormStepIndex!=1}"
      *ngIf="formSteps[0].status == true"
    >
      <p class="col-12 form-title mb-2">REJESTRACJA NA KURS - KROK 2</p>

      <div class="col-12 form-box">
        <div class="mb-3">
          <label for="date" class="form-label">* Preferowana data kursu</label>
          <input type="date" class="form-control" [formControlName]="'date'" min="{{dateToday | date:'yyyy-MM-dd'}}">
          <span class="text-danger" *ngIf="checkValidationForm(2,'date','required')">
              Wprowadź preferowany termin kursu
          </span>
        </div>


        <span class="required-fields col-12 mt-3 mb-4">
          * Wymagane pola
        </span>

        <div class="col-12">
          <button class="clearfix btn-color-1 p-15px col-12 col-sm-12 col-md-5  back-button"
          (click)="backToStep(1)">Cofnij</button>

          <button type="submit" class="clearfix btn-color-1 p-15px col-12 col-sm-12 col-md-6 offset-md-1 "
          [ngClass]="{'validate-success':form.status=='VALID'}"
          (click)="onSubmit(2)">ZAREJESTRUJ MNIE</button>
        </div>

      </div>


    </div>



  </form>
</div>
