@import "../../../scss/variables.scss";
@import "../../../scss/buttons.scss";

.main-box{
  form{
    // border: 1px solid rgba(0, 0, 0, 0.125);
    // border-radius: 0.25rem;
    height: 100%;

    input{
      cursor: pointer;
    }


    .form-register-step-box{
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;

      .form-box{
        padding: 15px 25px;
      }

      .form-title{
        font-weight: 600;
        background-color: $color_yellow_1;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        padding: 15px 25px;
        cursor: pointer;
      }

      .required-fields{
        font-size: 13px;
        // font-style: italic;
      }

      button{
        &.validate-success{
          // background: $color_green_1;
        }
        &.back-button{
          background-color: lightgray;
        }
      }
    }

  }
}

@media screen and (max-width: 767px){

  .form-register-step-box{
    button{
      margin-top: 15px;
    }
  }
}
