.banner-main-box{

  min-height: 150px;
  // border:1px solid #d2d8e3;
  box-sizing: border-box;
  overflow: auto;


  .nav-box{
    height: 90px;
    width: 100%;
  }

  .bg-1{
    // padding:30px;
    padding-bottom: 0px;
    background: #d2d8e3;
  }

  .bg-2{
    background: white;
    padding:30px;

  }

  &-content{
    &-left{
      float: left;
    }

    &-right{
      float: right;

      padding: 20px;

      &-info{

        padding: 20px;
        color: black;

        &-label{
          font-size: 25px;
          font-weight: 600;
          text-transform: uppercase;

        }

        &-text{

          &.text1{
            font-size: 20px;
            text-transform: uppercase;
          }
        }
      }
    }
  }


}
