@import "./scss/variables.scss";
@import "./scss/buttons.scss";



*,*:focus,*:hover, *:active,*:focus-within,*:visited,*:focus-visible, button:focus{
  outline:none !important;
}

body,html{
  min-height: 100vh;
  height: auto;
  margin: 0;
}

body {
  margin: 0;
  font-family: Calibri, sans-serif;
  position: relative;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hide{
  display: none;
}
.show{
  display: block;
}

