
// żółty
.btn-color-1{
  background: $color_yellow_1;
  text-transform: uppercase;
  color: black;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  line-height: 16px;
  text-align: center;

  &.p-10px{ padding: 10px; }
  &.p-15px{ padding: 15px; }

  &:hover{
      background: rgba(221,221,221,0.8);
      background: $color_yellow_1_hover;
  }

  &.active{
      color: white;

  }
}
