
<div class="nav-main-box">

  <div class="container p-0">
    <nav class="navbar navbar-expand-lg navbar-light p-0 ">
      <div class="container-fluid p-0">

        <button class="navbar-toggler m-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigationMain" aria-controls="navigationMain" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>

        <div class="collapse navbar-collapse" id="navigationMain">
          <div class="navbar-nav nav-main-box-items">
            <!-- <fa-icon [icon]="iconAngleDoubleRight"></fa-icon> -->
            <a routerLink="{{n.route}}" routerLinkActive="active" *ngFor="let n of navigationList">
              {{n.label}}
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="line p-0"></div>




</div>
