@import "../../../scss/variables.scss";

.nav-main-box,#navigationMain{
  text-align: center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  background: #373737;
  color: white;

  .navbar{

    &-toggler{
      color:white;
      border-color: white;
      span{
        color: white;
      }
      &:focus{
        box-shadow: none;
      }
    }
  }

  &-items{
    text-align: right;
    a{
      display: inline-block;
      color: white;
      text-transform: uppercase;
      margin-left: 30px;
      font-size: 14px;
      letter-spacing: 0.1em;
      text-decoration: none;
      font-weight: 600;
      padding: 15px;

      &:hover{
        text-decoration: underline;

        color: $color_yellow_1;
      }

      &:first-child{
        padding-left: 0px;
        margin-left: 0px;
        // color: $color_yellow_1;
      }
    }


  }

  .line{
    width: 100%;
    height: 4px;
    background-color: $color_yellow_1;
  }


}

@media screen and (max-width: 567px){

}
